server:
  port: 8080

spring:
  application:
    name: app-fantacalcio

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

jwt:
  secret: YOUR_SECRET_KEY_NEEDS_TO_BE_CHANGED
