server:
  port: 8080

spring:
  application:
    name: app-fantacalcio

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
